html,body{
    top:0;
    left:0;
    margin:0;
    padding:0;
}
.header{
    background:rgba(0, 148, 255,.8);
    width:100%;
    text-align:center;
    position:absolute;
    top:0;
    left:0;
}
.footer{
    position:absolute;
    bottom:0;
    left:0;
    text-align:center;
    width:100%;
}
.main{
    margin:100px 5%;
    width:80%;
}
.main-left{
    margin-left:80px;
    width:15%;
    float:left;
}
.main-right{
    width:75%;
    float:right;
}
a:hover{
    text-decoration:none;
}
.selected{
    background:rgb(242, 248, 97);
}